<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>收货地址</title>
    <link rel="stylesheet" href="../../css/pages.css?v=2017020201" />
    <script src="../../js/jquery-2.2.1.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="btn-back"></a>
            <h3>收货地址</h3>
        </div>
        <div class="content">
            <ul class="address-manage" id="addressList">
                <!-- <li class="default">
                    <div class="p01">
                        <a href="javascript:;">
                            <h4>
                            <span>姓名</span>
                            <em>11111111111</em>
                        </h4>
                            <p>上海上海市虹口区吧啦吧啦</p>
                        </a>
                    </div>
                    <div class="p02">
                        <span>
                            <i></i>
                            <em>设为默认</em>
                        </span>
                        <span class="editor-address">
                            <i class="icon-editor"></i>
                            <em>编辑</em>
                        </span>
                        <span class="delete-address">
                            <i class="icon-delete-03"></i>
                            <em>删除</em>
                        </span>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="address-editor" id="editorAddressGroup" style="display: none;">
            <input type="hidden" id="userMetaNo">
            <input type="hidden" id="isDefault">
            <h4>编辑收货地址<i class="icon-close"></i></h4>
            <div>
                <div>
                    <em>收货人</em>
                    <span>
                        <input type="text" id="addressContact">
                    </span>
                </div>
                <div>
                    <em>联系电话</em>
                    <span>
                        <input type="text" id="addressPhone" maxlength="11">
                    </span>
                </div>
                <div style="display: none;">
                    <em>选择地区</em>
                    <span>
                        <select>
                            <option value="0">选择省</option>
                        </select>
                        <select>
                            <option value="0">选择市</option>
                        </select>
                        <select>
                            <option value="0">选择区</option>
                        </select>
                    </span>
                </div>
                <div class="l01">
                    <em>详细地址</em>
                    <span>
                        <textarea id="addressDetails" rows="2"></textarea>
                    </span>
                </div>
                <div style="display: none;">
                    <em>邮政编码</em>
                    <span>
                        <input type="text" placeholder="选填">
                    </span>
                </div>
                <a href="javascript:;" id="editorAddress">确定</a>   
            </div>
        </div>
        <div class="footer footer-sty05" id="addAddress">
            添加新地址
        </div>
    </div>
    <script src="../../js/pages.js?v=2017020201"></script>
    <script>
        toGetAddress();
    </script>
</body>

</html>
