<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>查看物流</title>
    <link rel="stylesheet" href="../../css/pages.css?v=2017020201" />
    <script src="../../js/jquery-2.2.1.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="btn-back"></a>
            <h3>查看物流</h3>
        </div>
        <div class="content logistics-details">
            <div class="p01 clearfix">
                <ul>
                    <li class="clearfix"><em>物流状态:</em><span id="logisticState"></span></li>
                    <li class="clearfix"><em>承运来源：</em><span id="expressCorpName"></span></li>
                    <li class="clearfix"><em>运单编号：</em><span id="mailNo"></span></li>
                    <li class="clearfix"><em>官方电话：</em><span id="expressCorpTel"></span></li>
                </ul>
            </div>
            <div class="p02">
                <ul id="logisticsDetails">
                </ul>
            </div>
        </div>
        <div class="footer footer-sty01">
            <ul class="clearfix">
                <li><a href="../../index.html"><i class="icon-index-01"></i><span>首页</span></a></li>
                <li><a href="../Order/shopCart.html"><i class="icon-cart"></i><span>购物车</span></a></li>
                <li><a href="index.html"><i class="icon-my"></i><span>我的</span></a></li>
            </ul>
        </div>
    </div>
    <script src="../../js/common.js"></script>
    <script src="../../js/pages.js"></script>
    <script>
        toGetLogisticsInfo();
    </script>
</body>

</html>
