<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>评价</title>
    <link rel="stylesheet" href="../../css/pages.css?v=2017020201" />
    <script src="../../js/jquery-2.2.1.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="btn-back"></a>
            <h3>评价</h3>
        </div>
        <div class="content">
            <div class="order-comment">
                <input type="hidden" id="describe">
                <input type="hidden" id="seller">
                <input type="hidden" id="logistic">
                <div class="p01">
                    <div class="list-sty04">
                        <img src="../../img/temporary-goods.png" alt="">
                        <h3><a href="javascript:;">这里是名字吧啦吧啦</a></h3>
                        <h5>(此商品性质不支持7天退货)</h5>
                        <h4><i>¥</i>18.80</h4>
                        <p>数量：1</p>
                    </div>
                </div>
                <div class="p02">
                    <div>
                        <em>描述相符</em>
                        <ul class="clearfix stars" data-id="#describe">
                            <li class="on"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <em>卖家服务</em>
                        <ul class="clearfix stars" data-id="#seller">
                            <li class="on"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <em>物流服务</em>
                        <ul class="clearfix stars" data-id="#logistic">
                            <li class="on"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="p03">
                    <textarea name="" id="" placeholder="分享你的心得"></textarea>
                </div>
            </div>
        </div>
        <div class="footer footer-sty05">
            发布评价
        </div>
    </div>
    <script src="../../js/common.js"></script>
    <script src="../../js/pages.js"></script>
</body>

</html>
