<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>评价</title>
    <link rel="stylesheet" href="../../css/pages.css?v=2017020201" />
    <script src="../../js/jquery-2.2.1.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    
    <link rel="stylesheet" href="../../plugins/layer/mobile/need/layer.css">
    <script src="../../plugins/layer/mobile/layer.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="btn-back"></a>
            <h3>评价</h3>
        </div>
        <div class="content">
            <div class="order-comment">
                <input type="hidden" id="describe" name="describe">
                <input type="hidden" id="sellerAttitude" name="sellerAttitude">
                <input type="hidden" id="logistic" name="logistic">
                <input type="hidden" id="orgNo" name="orgNo">
                <div class="p01">
                    <ul id="commentList"></ul>
                </div>
                <div class="p02">
                    <div>
                        <em>描述相符</em>
                        <ul class="clearfix stars" data-id="#describe">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <em>卖家服务</em>
                        <ul class="clearfix stars" data-id="#sellerAttitude">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <em>物流服务</em>
                        <ul class="clearfix stars" data-id="#logistic">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer footer-sty05">
            <div id="chooseAnonymous">
                <input type="hidden" id="isAnonymous" name="isAnonymous" value="0">
                <i></i>
                <span>匿名评价</span>
            </div>
            <a href="javascript:;" id="confirmComment">评价</a>
        </div>
    </div>
    <script src="../../js/common.js"></script>
    <script src="../../js/pages.js"></script>
    <script>
        toGetCommentList();
    </script>
</body>

</html>
