<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>付款</title>
    <link rel="stylesheet" href="../../css/pages.css?v=2017020201" />
    <script src="../../js/jquery-2.2.1.js"></script>
    <script src="../../js/jquery.cookie.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="btn-back"></a>
            <h3>付款</h3>
        </div>
        <div class="content">
            <div class="order-confirm">
                <div class="p01">
                    <input type="hidden" id="metaNo">
                    <a href="../User/address.html?choose=1" id="chooseAddress">
                        <i class="icon-address-01"></i>
                        <i class="icon-arrow-to"></i>
                        <p>
                            <span>收货人：<em id="addressName">robin</em></span>
                            <span>联系方式：<em id="addressPhone">11111111111</em></span>
                        </p>
                        <p id="addressDetails">
                            收货地址：上海市闸北区沪太支路800号
                        </p>
                    </a>
                </div>
                <div class="p02" id="confirmList">
                    <div>
                        <h4></h4>
                        <ul>
                            <li class="list-sty04">
                                <img src="../../img/temporary-goods.png" alt="">
                                <h3><a href="javascript:;">这里是名字吧啦吧啦</a></h3>
                                <h5>(此商品性质不支持7天退货)</h5>
                                <h4><i>¥</i>18.80</h4>
                                <p>数量：1</p>
                            </li>
                            <li class="list-sty04">
                                <img src="../../img/temporary-goods.png" alt="">
                                <h3><a href="javascript:;">这里是名字吧啦吧啦</a></h3>
                                <h5>(此商品性质不支持7天退货)</h5>
                                <h4><i>¥</i>18.80</h4>
                                <p>数量：1</p>
                            </li>
                        </ul>
                        <div>
                            <div>
                                <em>配送方式</em>
                                <span>快递¥20.00</span>
                            </div>
                            <div>
                                <em>开具发票</em>
                                <input type="hidden" id="onOrOff">
                                <span><i class="icon-off" id="onOff"></i></span>
                            </div>
                            <div>
                                <span>共<em></em>件商品<em>小计：<i>¥<b>57.00</b></i></em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer footer-sty04">
            <ul class="clearfix sty02">
                <li>共<em id="count"></em>件，合计：<i>¥<b id="amount"></b></i><span>(不含快递)</span></li>
                <li id="confirmOrder">提交订单</li>
            </ul>
        </div>
    </div>
    <script src="../../js/pages.js?v=2017020201?"></script>
    <script>
        toGetTemporaryList();
        toGetAddressDetails();
    </script>
</body>

</html>
